<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Configuración general del nivel de log -->
	<targets>
		<!-- Definir dónde se guarda el log, en este caso un archivo -->
		<target xsi:type="File" name="logfile" fileName="C:\Users\Administrator\Desktop\Trabajo-Final-Integrador-I\Trabajo Final Integrador\bin\Debug\net6.0-windows\applog.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}" />
	</targets>

	<rules>
		<!-- Regla para registrar logs de nivel 'Info' y superior en el archivo -->
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>
